@font-face {
    font-family: 'NMFont';
    src: url('../fonts/NMFont.eot');
    src: url('../fonts/NMFont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NMFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CRTVFont';
    src: url('../fonts/CRTVFont.eot');
    src: url('../fonts/CRTVFont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CRTVFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PGMRFont';
    src: url('../fonts/PGMRFont.eot');
    src: url('../fonts/PGMRFont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PGMRFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SCLFont';
    src: url('../fonts/SCLFont.eot');
    src: url('../fonts/SCLFont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SCLFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

p {
    color: #222;
}

a {
    color: inherit;
    text-decoration: none;
}

#wrapper {
    margin: 100px auto;
    width: 800px;
}

#picture {
    width: 180px;
    height: 180px;
    margin-right: 15px;
    margin-top: 10px;
    float: left;
    border: 1px solid #222;
}

#content {
    float: left;
}

#name {
    font-family: NMFont;
    font-size: 64px;
}

#description {
    margin: -10px 0 10px;
}

#creative {
    font-family: CRTVFont;
    font-size: 48px;
}

#programmer {
    font-family: PGMRFont;
    font-size: 54px;
    margin-left: 15px;
}

.fa:before, .fa:before {
    font-family: "SCLFont";
    font-weight: normal;
    font-style: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    text-align: center;
}

.fa-lg {
    font-size: 1.7em;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa-stack-1x {
    line-height: inherit;
}

.fa-stack-2x {
    font-size: 2em;
}

.fa-inverse {
    color: #eee;
}

.fa-circle:before { content: '\e800'; }
.fa-mail-alt:before { content: '\e801'; }
.fa-mobile:before { content: '\e802'; }
.fa-skype:before { content: '\e803'; }
.fa-facebook:before { content: '\e804'; }
.fa-gplus:before { content: '\e806'; }
.fa-linkedin:before { content: '\e805'; }
.fa-github:before { content: '\e807'; }
